* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: lightgray;
}

.flexContainer {
    display: flex;
}

.flexAlignItemsCenter {
    align-items: center;
}

.flexJustifyContentCenter {
    justify-content: center;
}

.flexSpaceBetween {
    justify-content: space-between;
}

.flexColumn {
    flex-direction: column;
}

.flexWrap {
    flex-wrap: wrap;
}

.navContainer {
    left: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.icon {
    color: white;
    font-size: 40px;
}

.icon:hover {
    color: lightgray;
}

.navBarLinks {
    color: white;
}

header {
    width: 100%;
    height: 500px;
}

.headerImg {
    width: 100%;
    height: 500px;
    position: absolute;
    object-fit: cover;
}

.headerTextBox {
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.headerText {
    color: white;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 2px black;
}

.headerHeadline {
    font-size: 30px;
}

.headerSubline {
    font-size: 18px;
}

/* Timeline */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(235, 235, 235);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timelineContainer {
    padding: 10px 40px;
    position: relative; 
    background-color: inherit;
    width: 50%;
}

.timelineContainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px; 
    right: -17px;
    background-color: rgb(235, 235, 235);
    border: 4px solid rgb(235, 235, 235);
    top: 15px;
    border-radius: 50%;
    z-index: 0;
}

.containerLeft {
    left: 0;
}

.containerRight {
    left: 50%;
}

.containerLeft::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 0;
    right: 30px;
    border: medium solid rgb(235, 235, 235); 
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(235, 235, 235);
}

.containerRight::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 0;
    left: 30px;
    border: medium solid rgb(235, 235, 235);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(235, 235, 235) transparent transparent;
}

.containerRight::after {
    left: -16px;
}

.timelineContent {
    padding: 20px 30px;
    background-color: rgb(235, 235, 235);
    position: relative;
    border-radius: 6px;
}

ul {
    padding-left: 0;
    margin-top: 0;
}

.year {
    font-size: 20px;
    margin: 0;
}
.company {
    margin-bottom: 0px;
}

.role {
    margin-top: 1px;
}

.roleDescription {
    font-size: 14px;
    margin-bottom: 5px;
}

.generalText {
    font-size: 13px;
}

#contact {
    padding-top: 30px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}

.footerItemOne {
    width: 70%;
}

td {
    color: white;
}

.footerItemTwo {
    justify-content: flex-end;
}

.footerItemThree {
    width: 100%;
    padding-top: 40px;
    justify-content: center;
    color: white;
}

.footerItemThree > p {
    margin-top: 0;
    margin-left: 10px;
    font-size: 15px;
}

.footerItemThree > i {
    margin-top: 0;
    margin-left: 10px;
    font-size: 20px;
}

.letter {
    margin: 20px 20px 30px 20px;
}


@media screen and (max-width: 600px) {
    
    header {
        height: 50vh;
    }

    .headerImg {
        max-height: 50vh;
    }
    
    .timeline::after {
        left: 31px;
    }
    
    .timelineContainer {
        width: 100%;
        padding-left: 50px;
        padding-right: 25px;
    }

    .containerLeft::after, .containerRight::after {
        left: 15px;
    }
    
    .containerRight {
        left: 0%;
    }


    }

@media screen and (max-width: 450px) {

    .navBarLinks {
        padding-top: 10px;
        padding-bottom: 10px;
        flex-direction: column;
    }

    #contact {
        justify-content: center;
        padding-top: 10px;
    }

    .footerItemOne {
        min-width: 280px;
        order: 1;
    }

    .footerItemTwo {
        width: 100%;
        order: 0;
    }

    .footerItemThree {
        order: 2;
    }

    }